@media(max-width: 1920px){
    body{
        background-size: 1920px 1024px;
    }
}

@media(max-width: 1167px){
    footer{
        margin-top: 70px;
    }
}

@media(max-width: 1310px){
    body{
        padding-left: 30px;
	    padding-right: 30px;
	    box-sizing: border-box;
    }
}

@media(max-width: 900px){
    .right_field{
        display: none;
    }
    .left_field{
        width: 100%;
    }
}