@media(max-width: 1920px){
    body{
        background-size: 1920px 1024px;
    }
}

@media(max-width: 1167px){
    footer{
        margin-top: 70px;
    }
}

@media(max-width: 1310px){
    body{
        padding-left: 30px;
	    padding-right: 30px;
	    box-sizing: border-box;
    }
}

@media(max-width: 1030px){

    .rect img{
        width: 310px;
        height: 465px;
    }

    .face img{
        width: 310px;
        height: 465px;
    }

    .rect{
        width: 310px;
        height: 465px;
        margin: auto;
        margin-top: 58px;
        margin-left: 150px;
        z-index: 1;
    }

    .face{
        width: 310px;
        height: 465px;
        position: relative;
        margin: auto;
        margin-left: -297px;
        margin-top: 45px;
        z-index: 2;
    }
}

@media(max-width: 730px) {
    
    .left_field{
        width: 100%;
    }

    .right_field{
        display: none;
    }
}

@media(max-width: 370px){
    .menu li{ 
        padding-right: 10px; 
    }
}