body {
    font-family: 'Montserrat', sans-serif;   
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.94), rgba(0, 0, 0, 0.94)), url(back1.jpg);
    -moz-background-size: 100%;
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 1920px 1024px;
    color: white;
}

header{
    width: 1306px;
    margin: auto;
    max-width: 100%;
    margin-top: 80px;
}

.menu{
    list-style-type: none;
    font-size: 14px;
    padding: 4px;
    margin: auto;
    margin-top: 80px;
}

.menu li{
    display: inline; 
    margin-right: 40px; 
}

.menu a{
    color: white;
    text-decoration: none;
}

.menu > li a:hover{
    color: red;
    text-decoration: underline;
}

main{
    width: 1306px;
    margin: auto;
    display: flex;
    max-width: 100%;
}

.left_field {
    width: 45%;
}

.right_field{
    display: flex;
    width: 55%;
}

.projects{
    
    font-size: 48px;
    margin: auto;
    margin-top: 160px;
}

.main_text,
.other_text{
    line-height: 140%;
    font-size: 18px;
    margin: auto;
    margin-top: 72px;
}

.rect1{
    margin: auto;
    margin-top: 40px;
    margin-left: 67px;
    display: block;
    z-index: 1;
}

.app1{
    margin: auto;
    margin-left: -350px;
    margin-top: 20px;
    z-index: 2;
}

.rect2{
    margin: auto;
    margin-top: 127px;
    margin-left: -45px;
    display: block;
    position: relative;
    z-index: 3;
}

.app2{
    margin: auto;
    margin-left: -330px;
    margin-top: 110px;
    z-index: 4;
}

footer{
    width: 1307px;
    margin: auto;
    max-width: 100%;
    margin-bottom: 35px;
}

.links{
    margin: auto;
    margin-top: 95px;
}

.links li{
    display: inline; 
    margin-right: 32px !important; 
}

