body {
    font-family: 'Montserrat', sans-serif;   
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.94), rgba(0, 0, 0, 0.94)), url(back1.jpg) ;
    -moz-background-size: 100%;
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%;
    color: white;
}

header{
    width: 1306px;
    margin: auto;
    max-width: 100%;
    margin-top: 80px;
}

.menu{
    list-style-type: none;
    font-size: 14px;
    padding: 4px;
    margin: auto;
}

.menu li{
    display: inline; 
    padding-right: 40px; 
}

.menu a{
    color: white;
    text-decoration: none;
}

.menu > li a:hover{
    color: red;
    text-decoration: underline;
}

#last{
    padding-right: 0px !important;
}

main{
    width: 1306px;
    margin: auto;
    display: flex;
    max-width: 100%;
}

.left_field {
    width: 35%;
}

.right_field{
    display: flex;
    max-width: 75%;
}

.myname{
    
    font-size: 48px;
    margin: auto;
    margin-top: 160px;
}

.town{
    font-size: 20px;
    margin: auto;
    margin-top: 24px;
}

.edu{
    font-size: 18px;
    margin: auto;
    margin-top: 72px;
    line-height: 140%;
}

.skils{
    font-size: 18px;  
    margin: auto; 
    margin-top: 72px;  
}

.skils_list{
    margin-top: 20px;
}

.skils_list li{
    margin: auto;
    margin-top: 17px;
    margin-left: 15px;
    line-height: 22px;
    list-style-type: disc;
    padding-left: 15px;
}

.rect{
    margin: auto;
    margin-top: 87px;
    margin-left: 200px;
    z-index: 1;
}

.face{
    margin: auto;
    margin-left: -446px;
    margin-top: 67px;
    z-index: 2;
}

footer{
    width: 1306px;
    margin: auto;
    max-width: 100%;
    margin-bottom: 35px;
}

.links{
    margin: auto;
}

.links li{
    display: inline; 
    margin-right: 32px !important; 
}