body {
    font-family: 'Montserrat', sans-serif;   
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.94), rgba(0, 0, 0, 0.94)), url(back1.jpg);
    -moz-background-size: 100%;
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 1920px 1024px;
    color: white;
}

header{
    width: 1306px;
    margin: auto;
    max-width: 100%;
    margin-top: 80px;
}

.menu{
    list-style-type: none;
    font-size: 14px;
    padding: 4px;
    margin: auto;
    margin-top: 80px;
}

.menu li{
    display: inline; 
    margin-right: 40px; 
}

.menu a{
    color: white;
    text-decoration: none;
}

.menu > li a:hover{
    color: red;
    text-decoration: underline;
}

main{
    width: 1306px;
    margin: auto;
    display: flex;
    max-width: 100%;
}

.left_field {
    width: 45%;
}

.right_field{
    display: flex;
}

.plans{
    font-size: 48px;
    margin: auto;
    margin-top: 160px;
}

.main_text{
    line-height: 140%;
    font-size: 18px;
    margin: auto;
    margin-top: 72px;
}

.cpp_logo{
    width: 70px;
}

.cpp_logo img{
    
    width: 70px;
    height: 80px;
    margin: auto;
    margin-top: 72px;
}

.py_logo{
    width: 80px;
    display: flex;
}

.py_logo img{
    width: 80px;
    height: 80px;
    margin: auto;
    margin-top: -80px;
    margin-left: 118px;
}

.rect3{
    margin: auto;
    margin-top: 45px;
    margin-left: 44px;
    display: block;
    position: relative;
    z-index: 1;
}

.me1{
    position: relative;
    margin: auto;
    margin-left: -446px;
    margin-top: 25px;
    z-index: 2;
}

footer{
    width: 1307px;
    margin: auto;
    max-width: 100%;
    margin-bottom: 35px;
}
.links{
    margin-top: 44px;
}

.links li{
    display: inline; 
    margin-right: 32px !important; 
}
